# virtual environment
.venv/

# python cache
__pycache__/
*.py[cod]

# env file
.env

# db file
.bus_factor.db

# vscode
.vscode/

# pytest / mypy / caches
.pytest_cache/
.mypy_cache/

# OS files
.DS_Store
Thumbs.db